prim-11.0-public-all-word_frequency.txt.bz2
prim-11.0-public-all-word_frequency.txt
Backups
build
hunspell-sk
filtered.txt
dicttool_aosp.jar
sk_SK.aff
sk_SK.dic
spell_checked.txt
spell_checked_with_freq.txt
parsed.txt
